<script src="~/Scripts/jquery-3.3.1.js"></script>

@{
    ViewBag.Title = "SelectorExtended";
}
<script> //selecting radio button
    $(document).ready(function () {
        $('#btnSub1').click(function () {
            var v1 = $('input[type="radio"]:checked');
            if (v1.length > 0) {
                $('#divMsg1').html(v1.val() + " is Selected!!");
            }
            else {
                $('#divMsg1').html("No checkbox selected!!");
            }


        });

    });
</script>
<script>  //selecting checkbox
    $(document).ready(function () {
        $('#btnSub2').click(function () {
            var res = $('input[type=checkbox]:checked');
            if (res.length > 0) {
                var chkRes = "";
                res.each(function () {
                    chkRes += $(this).val() + "<br/>";
                });

                $('#divMsg2').html(chkRes);
            }
            else {
                $('#divMsg2').html("No checkbox selected!!");
            }

        });

    });

</script>
<script type="text/javascript">  //selecting disabled input items
    $(document).ready(function () {
        $('input[type="text"]:disabled').css('border', '2px solid red');
        $('input:disabled').css('background-color', 'yellow');

    });
</script>

<h2>Selector Extended of Jquery</h2>
Gender:
<input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female
<br />
<input type="submit" id="btnSub1" value="Submit" />
<div id="divMsg1"> </div>

<br />
Courses:
<input type="checkbox" name="course" value="JAVA" />Java
<input type="checkbox" name="course" value="c#" />C#
<input type="checkbox" name="course" value="ASP.NET" />ASP.NET
<input type="checkbox" name="course" value="jQuery" />JQuery
<br />
<input type="submit" id="btnSub2" value="Submit" />
<div id="divMsg2"> </div><br /><br />

Selection of disabled item:
<table>
    <tr>
        <td>First Name </td>
        <td><input type="text" disabled="disabled" /></td>
    </tr>
    <tr>
    <td>Last Name </td>
    <td><input type="text" disabled="disabled" /></td>
    </tr>
    <tr>
    <td>Email </td>
    <td><input type="text" /></td>
    </tr>

    <tr>
    <td>Gender </td>
    <td>
    <select id="selectGender" disabled="disabled">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>Comments</td>
    <td><textarea></textarea></td>
    </tr>
    <tr>
    <td colspan="2">
    <input type="submit" value="Submit" disabled="disabled"/>
    
    </tr>
</table>
@Html.ActionLink("Go Back", "Index")
