

<script src="~/Scripts/jquery-3.3.1.js"></script>
@{
    ViewBag.Title = "Window";
}


<h3>Window Load and Document Ready Events, by which we can get the size of the image</h3>


<script>
    $(document).ready(function () {


        $('#div1').html("This is using document ready" + "</br>" + " Height: " + $('#img1').height() + "</br>" + "Width: " + $('#img1').width() + "</br></br>");

    });

</script>

<script>

        $(window).on('load', function () {

                $('#div2').html("This is using window load" + "</br>" + "Height: " + $('#img1').height() + "</br>" + "Width: " + $('#img1').width());

            });
</script>
<div id="div1"></div>
<div id="div2"></div>

<img id="img1" src="~/Images/images.jpg" /><br />
@Html.ActionLink("Go Back", "Index")<br />

The windows load event is gonna wait for all the DOMS, pictures, css  and Frame to be loaded
But now it is changes.

You can get the height and widwth of picture using document ready function.
<br /><br /><br /><br /><br /><br />

