<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="cs" connectionString="Data Source=Nikson-PC\SQLEXPRESS;Initial Catalog=WorldList;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="cskarna" connectionString="server=Nikson-PC\SQLEXPRESS; user id=sa; password=1k2k3k4k5k6k;database=apartment" />
    <!-- This below code is for sending exception log to the database-->
    <add name="DBConnectionString"
  connectionString="server=Nikson-PC\SQLEXPRESS; user id=sa; password=1k2k3k4k5k6k;database=securitypractice"
  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!--this if for form authorizations     use this for only security, if not, this will be implemented to all the pages in project
    <authentication mode="Forms">
      <forms loginUrl="~/security/FormSecurity/login.aspx" defaultUrl="~/security/FormSecurity/dashboard.aspx" timeout="1">
      </forms>
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>
    <this if for form authorizations  -->
    

  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <!--This below code is for sending email-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" >
        <network host="smtp.gmail.com" enableSsl="true" port="587"
          userName="kisanthapamagar@gmail.com" password="NIKson89418941"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>